<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" 
      type="image/png" 
      href="{{baseurl}}/images/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>{{{title}}}</title>
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/theme/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{baseurl}}/theme/print.css" media="print">
	<script src="{{baseurl}}/theme/highlight/highlight.pack.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{baseurl}}/theme/stylesheet.css" media="screen">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body style="padding-top:150px">
    <div class="container-fluid">
    	<div class="inner">
			<nav class="navbar navbar-default navbar-fixed-top">
			
	 		<header style="padding:10px;background-color:white;">
				<div style="width:700px;margin:0 auto;">
					<a href="{{baseurl}}" role="button">
						<img alt="{{site_name}}" src="{{site_logo}}" style="height:100px;float:left;margin-right:10px">
					</a>
					<h1>{{site_name}}</h1>
					<h2>{{site_short_description}}</h2>
				</div>
	 		</header>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width:700px;margin:0 auto;">
				  <ul class="nav navbar-nav">
					{{# menu }}
					<li role="presentation" id="{{title}}" {{# has_subfiles }}class="dropdown"{{/ has_subfiles }}>
						<a href="{{url}}" 
							{{# has_subfiles }}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"{{/ has_subfiles }}>
							{{ title }}
							{{# has_subfiles }}<span class="caret"></span>{{/ has_subfiles }}
						</a>
						{{# has_subfiles }}
						<ul class="dropdown-menu" role="menu">
							{{# submenu }}
							<li role="presentation"><a href="{{url}}">{{ title }}</a></li>
							{{/ submenu }}
						</ul>
						{{/ has_subfiles }}
					</li>
					{{/ menu }}
					</ul>
				</div>
			</nav>
        <hr>

        <section id="main_content">
      	{{{content}}}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
			var disqus_shortname = '{{disqus_shortname}}';
			var disqus_identifier = '{{outputFile}}';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      	</section>
		<footer class="footer">
          This website is developed using <a href="https://github.com/pillar-markup/pillar-documentation">Pillar</a> and Ecstatic<br>
          Candy theme by <a href="https://twitter.com/guillep">Guillermo Polito</a>.
        </footer>
      </div>
    </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
	hljs.initHighlightingOnLoad();
	$("#{{title}}").addClass('active');
	function transformAnnotatedParagraphs(pClass) {
	    $("p." + pClass).wrap("<div class='alert alert-" + pClass + "' role='alert'/>" );
	};
	transformAnnotatedParagraphs('success');
	transformAnnotatedParagraphs('info');
	transformAnnotatedParagraphs('warning');
	transformAnnotatedParagraphs('danger');
	</script>
    
  </body>
</html>
